
body{
    font-family:Arial,sans-serif;
    margin:0;
    background:#f8f9fa;
    text-align:center;
}

header{
    background:#ff4081;
    color:white;
    padding:30px;
}

section{
    padding:40px;
}

button{
    padding:12px 20px;
    margin:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:first-of-type{
    background:#ffffff;
    color:#ff4081;
    border:2px solid #ff4081;
}

button:last-of-type{
    background:red;
    color:white;
}
